PORT=5000
NODE_ENV=production

MONGODB_URI=mongodb+srv://biospark_admin:biospark_admin@cluster0.ncvdwvn.mongodb.net/?appName=Cluster0

JWT_SECRET=NeetAspire@2026#SecureKey

GOOGLE_CLIENT_ID=1161022202-2hjboqcbn10qvv85j47dhr3lrqb6pd31.apps.googleusercontent.com

ADMIN_EMAIL=bhamareketan0@gmail.com

FRONTEND_URL=http://localhost:3000
